@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,900');

.sidebar-main{

}

.screen-title {
    margin-top: 6rem;
    margin-left: 80px;
    text-align: center;
    font-weight: 100;
    font-size: 4rem;
    text-transform: uppercase;
    color: white;
    letter-spacing: 6px;
    text-shadow: 10px 10px 10px rgba(0, 0, 0, .3);
}


.nav {
    list-style-type: none;
    color: white;
}
.nav:first-child {
    padding-top: 1.5rem;
}



.nav-cont {
    position: fixed;
    width: 60px;
    top: 0;
    height: 100vh;
    z-index: 100;
    background-color: #202020;
    overflow: hidden;
    transition: width 0.3s ease;
    cursor: pointer;
    box-shadow: 4px 7px 10px rgba(0, 0, 0, .4);
}
.nav-cont:hover {
    width: 200px;
}
@media screen and (min-width: 600px) {
    .nav-cont {
        width: 80px;
    }
}

.nav-items {
    padding-bottom: 4rem;
}
.nav-items a {
    position: relative;
    display: block;
    top: -35px;
    padding-left: 25px;
    padding-right: 15px;
    transition: all 0.3s ease;
    margin-left: 25px;
    margin-right: 10px;
    text-decoration: none;
    color: white;

    font-weight: 100;
    font-size: 1.35em;
}
.nav-items a:after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 2px;
    background: radial-gradient(circle at 94.02% 88.03%, #54a4ff, transparent 100%);
    opacity: 0;
    transition: all 0.5s ease;
    z-index: -10;
}
.nav-items:hover a:after {
    opacity: 1;
}
.nav-items svg {
    width: 26px;
    height: 26px;
    position: relative;
    left: -25px;
    cursor: pointer;
}
@media screen and (min-width: 600px) {
    .nav-items svg {
        width: 32px;
        height: 32px;
        left: -15px;
    }
}



